<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1>

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>PHP (Laravel5, Codeigniter)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>

            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>HTML/CSS (Bootstrap4, SemanticUI)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Javascript (Angular5, Vue2)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">

            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>Coding</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>

            <div class="skillbar clearfix " data-percent="20%">
                <div class="skillbar-title"><span>Games</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">20%</div>
            </div>
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Thai</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
        </div>

        <!-- <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>

        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a> -->

    </div>
     <!-- /.resume-right -->



     <!-- .resume-left -->
    <div class="col-md-6 resume-left">
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Web Developer <span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> IDC Thailand</h6>
                <p>Builds internal management systems with Laravel framework and AngularJS.</p>
            </li>
        </ul>
        <!-- /.attributes -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Web Developer <span class="duration"><i class="fa fa-calendar color"></i> 2017 - Present</span></h5>
                <h6><span class="fa fa-briefcase"></span> Mitr Phol Group</h6>
                <p>Builds internal management systems with variously techonology.</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Bachelor of Science <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2016</span></h5>
                <h6><span class="fa fa-book"></span> Burapha University</h6>
                <p>Faculty of Informatics (Software Engineering)</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>

        <!-- <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>

        <ul class="attributes">
            <li class="first">
                <h5>Graphic &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2014</span></h5>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
            </li>
            <li>
                <h5>Design &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
            </li>

        </ul>
        <br> -->

    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>


<!-- client reference -->
<!-- <div class="row">
    <div class="col-md-12">

        <div class="reference clearfix">
                <div class="title_content" style="margin-bottom:5px">
                    <div class="text_content">Client reference</div>
                    <div class="clear"></div>
                </div>

                <ul>
                    <li class="clearfix">
                        <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                        <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                        <span>John Doe, UX Designer</span>
                    </li>
                    <li class="clearfix">
                        <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                        <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                        <span>Leia Calvi, UX Designer</span>
                    </li>
                    <li class="clearfix">
                        <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                        <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                        <span>Maria Callas, UX Designer</span>
                    </li>
                </ul>
        </div>
    </div>

    <div style="clear: both"></div>
</div> -->

</div>
<!-- End .resume -->
