<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="web-app">All</span></li>
            <li><span class="filter" data-filter="web-app">Web</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <div class="portfolio web-app" data-cat="web-app">
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/treasurehouse.png" rel="portfolio" title="E-commerce jewelly business">
                        <img src="images/portfolio/treasurehouse.png" alt="Web application" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Treasurehouse</a>
                                <span class="text-category">Web Application</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="portfolio web-app" data-cat="web-app">
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/sslreseller.png" rel="portfolio" title="Seller system SSL Certificates">
                        <img src="images/portfolio/sslreseller.png" alt="Web application" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">SSLReseller</a>
                                <span class="text-category">Web Application</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- End .portfolio -->
